{#{% extends 'index.html' %}#}
{#{% load static %}#}
{##}
{#{% block content %}#}
{##}
{#    <style>#}
{#        #frequencyLine {#}
{#            position: absolute;#}
{#            height: 100%;#}
{#            width: 2px;#}
{#            background-color: red;#}
{#            left: 1%;#}
{#            z-index: 10;#}
{#        }#}
{##}
{#        #scrollContainer {#}
{#            overflow: hidden;#}
{#            position: relative;#}
{#            width: 80%;#}
{#            height: 300px;#}
{#            border: 1px solid #ccc;#}
{#            margin: auto; /* 중앙 정렬 */#}
{#        }#}
{##}
{#        #scrollImage {#}
{#            position: absolute;#}
{#            left: 0%;#}
{#            width: 200%;#}
{#        }#}
{##}
{#        button {#}
{#            padding: 10px 20px;#}
{#            margin: 10px;#}
{#            font-size: 16px;#}
{#            cursor: pointer;#}
{#        }#}
{##}
{#        .button-container {#}
{#            text-align: center; /* 버튼을 가운데 정렬 */#}
{#        }#}
{##}
{#        #statusMessage {#}
{#            color: #333;#}
{#            font-size: 18px;#}
{#            margin-top: 20px;#}
{#        }#}
{##}
{#        h1 {#}
{#            font-size: 30px; /* 크기 조정 */#}
{#            color: #333; /* 색상 조정 */#}
{#            margin-top: 40px; /* 위 여백 조정 */#}
{#            margin-bottom: 40px; /* 마진 조정 */#}
{#        }#}
{#    </style>#}
{##}
{#    <div class="text-center" style="margin-top: 20px;">#}
{#        <h1>&lt;Record Your Voice&gt;</h1>#}
{#    </div>#}
{##}
{#    <div id="scrollContainer">#}
{#        <div id="frequencyLine"></div>#}
{#        <img id="scrollImage" src={% get_media_prefix %}controls.png alt="Frequency Visualization">#}
{#    </div>#}
{#    <div class="button-container">#}
{#        <button class="btn btn-clean" id="startRecording" onclick="startRecording()">Start Recording</button>#}
{#        <button class="btn btn-clean" id="stopRecording" onclick="stopRecording()">Stop Recording</button>#}
{#        <form id="recordingForm" method="post" enctype="multipart/form-data" action="{% url 'karaoke' %}">#}
{#            {% csrf_token %}#}
{#            <input type="hidden" name="audioFile" id="audioFile">#}
{#            <button type="submit" class="btn btn-clean" id="finishRecording" onclick="finishRecording()">Finish#}
{#                Recording#}
{#            </button>#}
{#        </form>#}
{#    </div>#}
{#    <div id="statusMessage">Ready to record...</div>#}
{##}
{#    <script>#}
{#        let scrollImage = document.getElementById('scrollImage');#}
{#        let statusMessage = document.getElementById('statusMessage');#}
{#        let intervalId;#}
{#        let maxLeft = -200;#}
{##}
{#        let mediaRecorder;#}
{#        let audioChunks = [];#}
{#        let song = new Audio('/media/MR_file.wav');#}
{##}
{#        async function setupRecorder() {#}
{#            const stream = await navigator.mediaDevices.getUserMedia({audio: true});#}
{#            mediaRecorder = new MediaRecorder(stream);#}
{##}
{#            mediaRecorder.ondataavailable = function (event) {#}
{#                audioChunks.push(event.data);#}
{#            };#}
{##}
{#            mediaRecorder.onstop = async () => {#}
{#                const audioBlob = new Blob(audioChunks, {type: 'audio/wav'});#}
{#                const formData = new FormData();#}
{#                formData.append('audioFile', audioBlob, 'recording.wav');#}
{#                await sendAudioToServer(formData);#}
{#                audioChunks = [];#}
{#            };#}
{#        }#}
{##}
{#        async function sendAudioToServer(formData) {#}
{#            try {#}
{#                const response = await fetch('save_audio/', {#}
{#                    method: 'POST',#}
{#                    body: formData,#}
{#                    mode: "cors"#}
{#                });#}
{#                const data = await response.json();#}
{#                console.log('Server response:', data);#}
{#                statusMessage.textContent = "Upload completed. File path: " + data.file_path;#}
{#            } catch (error) {#}
{#                console.error('Upload failed:', error);#}
{#                statusMessage.textContent = "Upload failed. Please try again.";#}
{#            }#}
{#        }#}
{##}
{#        window.onload = function () {#}
{#            scrollImage.style.left = '0%';#}
{#            setupRecorder();#}
{#        };#}
{##}
{#        function startRecording() {#}
{#            if(mediaRecorder && mediaRecorder.state === 'inactivate'){#}
{#            mediaRecorder.start();#}
{#            statusMessage.textContent = "Recording in progress...";#}
{#            song.play();#}
{#            }#}
{#            scrollImage.style.transition = 'none';#}
{#            const moveImage = () => {#}
{#                if (parseInt(scrollImage.style.left) > maxLeft) {#}
{#                    scrollImage.style.left = (parseInt(scrollImage.style.left) - 1) + '%';#}
{#                } else {#}
{#                    clearInterval(intervalId);#}
{#                    statusMessage.textContent = "Recording stopped. End of track.";#}
{#                }#}
{#            };#}
{#            intervalId = setInterval(moveImage, 50);#}
{#        }#}
{##}
{#        function stopRecording() {#}
{#            if (mediaRecorder && mediaRecorder.state === "recording") {#}
{#                mediaRecorder.stop();#}
{#                statusMessage.textContent = "Recording paused. Press start to resume.";#}
{#            }#}
{#            clearInterval(intervalId);#}
{#            song.pause();#}
{#        }#}
{##}
{#        function finishRecording() {#}
{#            if (mediaRecorder && mediaRecorder.state === "recording") {#}
{#                mediaRecorder.stop();#}
{#                statusMessage.textContent = "Recording finished. Ready to play.";#}
{#            }#}
{#            clearInterval(intervalId);#}
{#            scrollImage.style.transition = 'left 0.5s ease-out';#}
{#            scrollImage.style.left = '0%';#}
{#            song.currentTime = 0;#}
{#            song.pause();#}
{#            document.getElementById('recordingForm').submit();#}
{#window.location.href = "{% url 'check' %}";#}
{##}
{#        }#}
{#    </script>#}
{##}
{#{% endblock %}#}

{% extends 'index.html' %}
{% load static %}

{% block content %}

    <style>
        #frequencyLine {
            position: absolute;
            height: 100%;
            width: 2px;
            background-color: red;
            left: 1%;
            z-index: 10;
        }

        #scrollContainer {
            overflow: hidden;
            position: relative;
            width: 80%;
            height: 300px;
            border: 1px solid #ccc;
            margin: auto; /* 중앙 정렬 */
        }

        #scrollImage {
            position: absolute;
            left: 0%;
            width: 200%;
        }

        button {
            padding: 10px 20px;
            margin: 10px;
            font-size: 16px;
            cursor: pointer;
        }

        .button-container {
            text-align: center; /* 버튼을 가운데 정렬 */
        }

        #statusMessage {
            color: #333;
            font-size: 18px;
            margin-top: 20px;
        }

        h1 {
            font-size: 30px; /* 크기 조정 */
            color: #333; /* 색상 조정 */
            margin-top: 40px; /* 위 여백 조정 */
            margin-bottom: 40px; /* 마진 조정 */
        }
    </style>

    <div class="text-center" style="margin-top: 20px;">
        <h1>&lt;Record Your Voice&gt;</h1>
    </div>

    <div id="scrollContainer">
        <div id="frequencyLine"></div>
        <img id="scrollImage" src={% get_media_prefix %}controls.png alt="Frequency Visualization">
    </div>
    <div class="button-container">
        <button class="btn btn-clean" id="startRecording" onclick="startRecording()">Start Recording</button>
        <button class="btn btn-clean" id="stopRecording" onclick="stopRecording()">Stop Recording</button>
        <form id="recordingForm" method="post" enctype="multipart/form-data" action="{% url 'karaoke' %}">
            {% csrf_token %}
            <input type="hidden" name="audioFile" id="audioFile">
            <button type="submit" class="btn btn-clean" id="finishRecording" onclick="finishRecording()">Finish
                Recording
            </button>
        </form>
        <audio controls></audio>
    </div>
    <div id="statusMessage">Ready to record...</div>

    <script>
        let scrollImage = document.getElementById('scrollImage');
        let statusMessage = document.getElementById('statusMessage');
        let intervalId;
        let maxLeft = -200;

        let mediaRecorder;
        let audioChunks = [];
        let song = new Audio('/media/MR_file.wav');
        const $audio = document.querySelector("audio");


        function setupRecorder() {
            const stream = navigator.mediaDevices.getUserMedia({audio: true})
                .then((mediaStream) => {
                    // Promise이므로 then으로 받아서 사용(async/await를 사용해도 된다.)

                    // 마이크에서 입력받은 MediaStream으로 오디오 재생
                    $audio.srcObject = mediaStream;
                    $audio.onloadedmetadata = (event) => {
                        $audio.play();
                    }
                 })
            mediaRecorder = new MediaRecorder(stream);

            mediaRecorder.ondataavailable = function (event) {
                audioChunks.push(event.data);
            };

            mediaRecorder.onstop = async () => {
                const audioBlob = new Blob(audioChunks, {type: 'audio/wav'});
                const formData = new FormData();
                formData.append('audioFile', audioBlob, 'recording.wav');
                await sendAudioToServer(formData);
                audioChunks = [];
            };
        }

        async function sendAudioToServer(formData) {
            try {
                const response = await fetch('{% url 'save_audio' %}', {
                    method: 'POST',
                    body: formData,
                });
                const data = await response.json();
                console.log('Server response:', data);
                statusMessage.textContent = "Upload completed. File path: " + data.file_path;
            } catch (error) {
                console.error('Upload failed:', error);
                statusMessage.textContent = "Upload failed. Please try again.";
            }
        }

        window.onload = function () {
            scrollImage.style.left = '0%';
            setupRecorder();
        };

        function startRecording() {
            if (mediaRecorder && mediaRecorder.state === "inactive") {
                mediaRecorder.start();
                statusMessage.textContent = "Recording in progress...";
                song.play();
            }
            scrollImage.style.transition = 'none';
            const moveImage = () => {
                if (parseInt(scrollImage.style.left) > maxLeft) {
                    scrollImage.style.left = (parseInt(scrollImage.style.left) - 1) + '%';
                } else {
                    clearInterval(intervalId);
                    statusMessage.textContent = "Recording stopped. End of track.";
                }
            };
            intervalId = setInterval(moveImage, 50);
        }

        function stopRecording() {
            if (mediaRecorder && mediaRecorder.state === "recording") {
                mediaRecorder.stop();
                statusMessage.textContent = "Recording paused. Press start to resume.";
            }
            clearInterval(intervalId);
            song.pause();
        }

        function finishRecording() {
            if (mediaRecorder && mediaRecorder.state === "recording") {
                mediaRecorder.stop();
                statusMessage.textContent = "Recording finished. Ready to play.";
            }
            clearInterval(intervalId);
            scrollImage.style.transition = 'left 0.5s ease-out';
            scrollImage.style.left = '0%';
            song.currentTime = 0;
            song.pause();
            document.getElementById('recordingForm').submit();
            {#window.location.href = "{% url 'check' %}";#}

        }
    </script>

{% endblock %}