{% extends 'index.html' %}
{% load static %}

{% block content %}

    <style>
        #frequencyLine {
            position: absolute;
            height: 100%;
            width: 2px;
            background-color: red;
            left: 1%;
            z-index: 10;
        }

        #scrollContainer {
            overflow: hidden;
            position: relative;
            width: 80%;
            height: 300px;
            border: 1px solid #ccc;
            margin: auto; /* 중앙 정렬 */
        }

        #scrollImage {
            position: absolute;
            left: 0%;
            width: 200%;
        }

        button {
            padding: 10px 20px;
            margin: 10px;
            font-size: 16px;
            cursor: pointer;
        }

        .button-container {
            text-align: center; /* 버튼을 가운데 정렬 */
        }

        #statusMessage {
            color: #333;
            font-size: 18px;
            margin-top: 20px;
        }

        h1 {
            font-size: 30px; /* 크기 조정 */
            color: #333; /* 색상 조정 */
            margin-top: 40px; /* 위 여백 조정 */
            margin-bottom: 40px; /* 마진 조정 */
        }
    </style>

    <div class="text-center" style="margin-top: 20px;">
        <h1>&lt;Record Your Voice&gt;</h1>
    </div>

    <div id="scrollContainer">
        <div id="frequencyLine"></div>
        <img id="scrollImage" src={% get_media_prefix %}controls.png alt="Frequency Visualization">
    </div>
    <div class="button-container">
        <button class="btn btn-clean" id="startRecording" onclick="startRecording()">Start Recording</button>
        <button class="btn btn-clean" id="stopRecording" onclick="stopRecording()">Stop Recording</button>
        <form id="recordingForm" method="post" enctype="multipart/form-data" action="{% url 'karaoke' %}">
            {% csrf_token %}
            <input type="hidden" name="audioFile" id="audioFile">
            <button type="submit" class="btn btn-clean" id="finishRecording" onclick="finishRecording()">Finish
                Recording
            </button>
        </form>
    </div>
    <div id="statusMessage">Ready to record...</div>

    <script>
        let scrollImage = document.getElementById('scrollImage');
        let statusMessage = document.getElementById('statusMessage');
        let intervalId;
        let maxLeft = -200;

        let audioContext;
        let mediaRecorder;
        let audioChunks = [];
        let song = new Audio('/media/MR_file.wav');


        async function setupRecorder() {
            audioContext = new (window.AudioContext || window.webkitAudioContext)();
            const stream = await navigator.mediaDevices.getUserMedia({audio: true});

            mediaRecorder = new MediaRecorder(stream);

            mediaRecorder.ondataavailable = function (event) {
                audioChunks.push(event.data);
            };

            mediaRecorder.onstop = async () => {
                const audioBlob = new Blob(audioChunks, {type: 'audio/wav'});
                const formData = new FormData();
                formData.append('audioFile', audioBlob, 'recording.wav');
                await sendAudioToServer(formData);
                audioChunks = [];
            };
        }

        async function sendAudioToServer(formData) {
            try {
                const response = await fetch('{% url 'save_audio' %}', {
                    method: 'POST',
                    body: formData,
                });
                const data = await response.json();
                console.log('Server response:', data);
                statusMessage.textContent = "Upload completed. File path: " + data.file_path;
            } catch (error) {
                console.error('Upload failed:', error);
                statusMessage.textContent = "Upload failed. Please try again.";
            }
        }

        window.onload = function () {
            scrollImage.style.left = '0%';
            setupRecorder();
        };

        function startRecording() {
            if (mediaRecorder && mediaRecorder.state === 'inactive') {
                mediaRecorder.start();
                statusMessage.textContent = "Recording in progress...";
                song.play();
            }
            scrollImage.style.transition = 'none';
            const moveImage = () => {
                if (parseInt(scrollImage.style.left) > maxLeft) {
                    scrollImage.style.left = (parseInt(scrollImage.style.left) - 1) + '%';
                } else {
                    clearInterval(intervalId);
                    statusMessage.textContent = "Recording stopped. End of track.";
                }
            };
            intervalId = setInterval(moveImage, 50);
        }

        function stopRecording() {
            if (mediaRecorder && mediaRecorder.state === "recording") {
                mediaRecorder.stop();
                statusMessage.textContent = "Recording paused. Press start to resume.";
            }
            clearInterval(intervalId);
            song.pause();
        }

        function finishRecording() {
            if (mediaRecorder && mediaRecorder.state === "recording") {
                mediaRecorder.stop();
                statusMessage.textContent = "Recording finished. Ready to play.";
            }
            clearInterval(intervalId);
            scrollImage.style.transition = 'left 0.5s ease-out';
            scrollImage.style.left = '0%';
            song.currentTime = 0;
            song.pause();
        }
    </script>

{% endblock %}

{#{% extends 'index.html' %} <!-- 기본 레이아웃 파일을 상속받음 -->#}
{#{% load static %} <!-- 정적 파일을 로드하기 위한 Django 태그 -->#}
{##}
{#{% block content %} <!-- index.html 정의된 content 블록을 오버라이드 -->#}
{##}
{#    <style>#}
{#        #frequencyLine {#}
{#            position: absolute;#}
{#            height: 100%;#}
{#            width: 2px;#}
{#            background-color: red; /* 빨간 선으로 주파수 표시 */#}
{#            left: 1%;#}
{#            z-index: 10;#}
{#        }#}
{##}
{#        #scrollContainer {#}
{#            overflow: hidden; /* 넘치는 내용은 숨김 */#}
{#            position: relative;#}
{#            width: 80%;#}
{#            height: 300px; /* 컨테이너 높이 */#}
{#            border: 1px solid #ccc; /* 테두리 스타일 */#}
{#            margin: auto; /* 가운데 정렬 */#}
{#        }#}
{##}
{#        #scrollImage {#}
{#            position: absolute;#}
{#            left: 0%;#}
{#            width: 200%; /* 이미지 너비 */#}
{#        }#}
{##}
{#        button {#}
{#            padding: 10px 20px;#}
{#            margin: 10px;#}
{#            font-size: 16px;#}
{#            cursor: pointer; /* 클릭 가능한 커서 스타일 */#}
{#        }#}
{##}
{#        .button-container {#}
{#            text-align: center; /* 버튼을 가운데 정렬 */#}
{#        }#}
{##}
{#        #statusMessage {#}
{#            color: #333;#}
{#            font-size: 18px;#}
{#            margin-top: 20px; /* 상태 메시지 위치 조정 */#}
{#        }#}
{##}
{#        h1 {#}
{#            font-size: 30px; /* 제목 글꼴 크기 */#}
{#            color: #333;#}
{#            margin-top: 40px; /* 위 여백 */#}
{#            margin-bottom: 40px; /* 아래 여백 */#}
{#        }#}
{#    </style>#}
{##}
{#    <div class="text-center" style="margin-top: 20px;">#}
{#        <h1>Record Your Voice</h1> <!-- 페이지 제목 -->#}
{#    </div>#}
{##}
{#    <div id="scrollContainer">#}
{#        <div id="frequencyLine"></div> <!-- 주파수 표시 라인 -->#}
{#        <img id="scrollImage" src="{% get_media_prefix %}controls.png" alt="Frequency Visualization"> <!-- 시각화 이미지 -->#}
{#    </div>#}
{#    <div class="button-container">#}
{#        <button class="btn btn-clean" id="startRecording">Start Recording</button>#}
{#        <button class="btn btn-clean" id="stopRecording">Stop Recording</button>#}
{#        <audio id="audioPlayback" controls></audio> <!-- 녹음된 오디오 재생 컨트롤 -->#}
{#        <form id="recordingForm" method="post" enctype="multipart/form-data" action="{% url 'karaoke' %}">#}
{#            {% csrf_token %} <!-- CSRF 보안 토큰 -->#}
{#            <input type="hidden" name="audioFile" id="audioFile"> <!-- 오디오 파일을 서버로 전송하기 위한 숨겨진 필드 -->#}
{#            <button type="submit" class="btn btn-clean" id="finishRecording">Finish#}
{#                Recording#}
{#            </button>#}
{#        </form>#}
{#    </div>#}
{#    <div id="statusMessage">Ready to record...</div> <!-- 녹음 준비 상태 메시지 -->#}
{##}
{#    <script>#}
{#        let scrollImage = document.getElementById('scrollImage');#}
{#        let statusMessage = document.getElementById('statusMessage');#}
{#        let intervalId;#}
{#        let maxLeft = -200;#}
{##}
{#        let audioBlob;#}
{#        let audioContext;#}
{#        let mediaRecorder;#}
{#        let audioChunks = [];#}
{#        let song = new Audio('/media/MR_file.wav');#}
{##}
{#        document.getElementById('startRecording').addEventListener('click', startRecording);#}
{#        document.getElementById('stopRecording').addEventListener('click', stopRecording);#}
{#        document.getElementById('finishRecording').addEventListener('click', finishRecording);#}
{##}
{#        function setupRecorder() {#}
{#            navigator.mediaDevices.getUserMedia({audio: true}).then(stream => {#}
{#                if (!audioContext) {#}
{#                    audioContext = new (window.AudioContext || window.webkitAudioContext)();#}
{#                }#}
{#                mediaRecorder = new MediaRecorder(stream);#}
{#                mediaRecorder.ondataavailable = event => audioChunks.push(event.data);#}
{#                mediaRecorder.onstop = async () => {#}
{#                    const  audioBlob = new Blob(audioChunks, {type: 'audio/wav'});#}
{#                    const formData = new FormData();#}
{#                    formData.append('audioFile', audioBlob, 'recording.wav');#}
{#                    fetch('{% url 'save_audio' %}', {#}
{#                        method: 'POST',#}
{#                        body: formData,#}
{#                    }).then(response => response.json())#}
{#                        .then(data => {#}
{#                            document.getElementById('statusMessage').textContent = "Upload completed. File path: " + data.file_path;#}
{#                        }).catch(error => {#}
{#                        console.error('Upload failed:', error);#}
{#                        document.getElementById('statusMessage').textContent = "Upload failed. Please try again.";#}
{#                    });#}
{#                    document.getElementById('audioPlayback').src = URL.createObjectURL(audioBlob);#}
{#                    audioChunks = [];#}
{#                };#}
{#            });#}
{#        }#}
{##}
{#        window.onload = function () {#}
{#            scrollImage.style.left = '0%';#}
{#            setupRecorder();#}
{#        };#}
{##}
{#        function startRecording() {#}
{#            mediaRecorder.start();#}
{#            statusMessage.textContent = "Recording in progress...";#}
{#song.play();#}
{##}
{#            document.getElementById('statusMessage').textContent = "Recording started...";#}
{##}
{#            scrollImage.style.transition = 'none';#}
{#            const moveImage = () => {#}
{#                if (parseInt(scrollImage.style.left) > maxLeft) {#}
{#                    scrollImage.style.left = (parseInt(scrollImage.style.left) - 1) + '%';#}
{#                } else {#}
{#                    clearInterval(intervalId);#}
{#                    statusMessage.textContent = "Recording stopped. End of track.";#}
{#                }#}
{#            };#}
{#            intervalId = setInterval(moveImage, 50);#}
{#        }#}
{##}
{#        function stopRecording() {#}
{#            if (mediaRecorder && mediaRecorder.state === "recording") {#}
{#                mediaRecorder.stop();#}
{#                document.getElementById('statusMessage').textContent = "Recording stopped. Press start to resume.";#}
{#            }#}
{#            clearInterval(intervalId);#}
{#song.pause();#}
{##}
{#        }#}
{##}
{#        function finishRecording() {#}
{##}
{#            mediaRecorder.stop()#}
{#            statusMessage.textContent = "Recording finished. Ready to play.";#}
{##}
{#            clearInterval(intervalId);#}
{#            scrollImage.style.transition = 'left 0.5s ease-out';#}
{#            scrollImage.style.left = '0%';#}
{#            song.currentTime = 0;#}
{#song.pause();#}
{##}
{#        }#}
{#    </script>#}
{##}
{#{% endblock %}#}